<div class="ms-1 mt-2 d-flex col-9 col-md-6">
  <img style="cursor: pointer;" src="assets/img/kyclopsH.png" alt="Logo" class=" img-fluid mt-1" />
</div>

<div class="mb-4 mt-4 col-10 offset-1 shadow">
  <app-reproductor></app-reproductor>
</div>

<!-- <hr>
<div data-aos="fade-up"
data-aos-duration="700"
data-aos-anchor-placement="top-center"
class=" d-flex justify-content-center">
  <img src="assets/img/Cartelera.png" alt="Logo" class="col-md-8 img-fluid mt-1" />
</div >
<div class="programas  text-center">
  <app-cards data-aos="fade-up"
  data-aos-duration="700"
  data-aos-anchor-placement="top-center" >
</app-cards>
</div>
<div class="col-10 offset-1"

>
  <div
  data-aos="zoom-out"
  data-aos-duration="500"
  data-aos-anchor-placement="top-center"
  class=" d-flex justify-content-center shadow m-1">
    <img src="assets/img/HorariosK.gif" alt="GIF" class="col-md-8 img-fluid mt-1" />
  </div>
</div>

<hr>
<div data-aos="zoom-in-up"
data-aos-duration="500"
data-aos-anchor-placement="top-center"
class=" d-flex justify-content-center">
  <img src="assets/img/Chumano.png" alt="Logo" class=" col img-fluid mt-1" />
</div>
<app-equipo
data-aos="fade-up"
  data-aos-duration="700"
  data-aos-anchor-placement="top-center"></app-equipo>

  <hr>
<div data-aos="zoom-in-up"
data-aos-duration="500"
data-aos-anchor-placement="top-center"
class=" d-flex justify-content-center">
  <img src="assets/img/contacto.png" alt="Logo" class=" col-md-8 img-fluid mt-2" />
</div>
<div data-aos="fade-up"
data-aos-duration="500"
data-aos-anchor-placement="top-center"
 class="col-10 offset-1">
  <app-acordeon></app-acordeon>
</div>
<div
data-aos="fade-up"
data-aos-duration="500"
 class="col-10 offset-1">
  <app-card-form></app-card-form>
  <div>

    <hr> -->


